  <h5 class='white-text'>Seach Stores By Zipcode</h5>
  <form action='/near_by_stores' method='get'>
    <div class="input-field card">
      <input id="search" type="search" name="zipcode" placeholder="Enter Zipcode" required>
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>
      <input id="submit" type="submit" class="btn btn-large orange-text  grey darken-4 z-depth-4" style="border-radius: 20px; width: 175px;" >
      <%= link_to "Near Me", stores_path, class: "btn btn-large orange-text  grey darken-4 z-depth-4 right", style: "border-radius: 20px; 20px; width: 175px;"%>
  </form>
  <br>
    <div class="divider"></div>
    <br>
  <div class="row">
    <div id="control-buttons1" class="col s12">
      <button class="waves-effect grey darken-4 orange-text btn-large z-depth-3 modal-trigger left" style="border-radius: 20px; 20px; width: 175px;" data-target="modal1">Add A Tank</button>
      <a class="waves-effect grey darken-4 orange-text btn-large z-depth-3 right" style="border-radius: 20px; 20px; width: 175px;" href="#modal1">Add A Tank</a>
    </div>
  </div>
    <div class="divider"></div>
    <br>
  <div class="row">
    <div id="graph-ph-ammonia" class="col s12">
      <a class="waves-effect grey darken-4 orange-text btn-large z-depth-3 left" style="border-radius: 20px; 20px; width: 175px;">Ph</a>
      <a class="waves-effect grey darken-4 orange-text btn-large z-depth-3 right" style="border-radius: 20px; 20px; width: 175px;">Ammonia</a></br>
    </div>
  </div>

  <div class="row">
    <div id="graph-ph" class="col s12">
      <a class="waves-effect grey darken-4 orange-text btn-large z-depth-3 left" style="border-radius: 20px; 20px; width: 175px;">Nitrates</a>
      <a class="waves-effect grey darken-4 orange-text btn-large z-depth-3 right" style="border-radius: 20px; 20px; width: 175px;">Temperature</a>
    </div>
  </div>
  <br><br>
