---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=<google_key>&keyword=fish&location=39.615210,-104.758469&radius=16093.4&type=pet_store
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "html_attributions" : [],
           "results" : [
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 39.6771741,
                       "lng" : -104.9020887
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.67814673029149,
                          "lng" : -104.9013189697085
                       },
                       "southwest" : {
                          "lat" : 39.6754487697085,
                          "lng" : -104.9040169302915
                       }
                    }
                 },
                 "icon" : "https://maps.gstatic.com/mapfiles/place_api/icons/shopping-71.png",
                 "id" : "82a48955753ad56d1495b7e161c3f32e4446de5e",
                 "name" : "Aquatic Dog",
                 "opening_hours" : {
                    "open_now" : true,
                    "weekday_text" : []
                 },
                 "photos" : [
                    {
                       "height" : 1208,
                       "html_attributions" : [
                          "\u003ca href=\"https://maps.google.com/maps/contrib/110251113494790287402/photos\"\u003ePaul Pigon\u003c/a\u003e"
                       ],
                       "photo_reference" : "CoQBdwAAADD4KB_X5JB7nV1oWbRWNHj0BWlCcDdtE1YhW5IqQj6MmpCaTmkpiOVEMHG36OSPAT1vBEyFSJKETOKAJitFCuc2LS9nHkY_aI69vk0QmfcRqppo0MJfscOqu1-zkFN9TQwvxSaFypCws05EZOhVraTt1qyNp4K27_4SN1A2R0Z_EhDJGWgaLR6dB43hqiUGaZprGhTWLCdZr_uWQe4BzOdTJxjvcw9lXA",
                       "width" : 1440
                    }
                 ],
                 "place_id" : "ChIJhYL3eYV9bIcR5gQM9pwB3UY",
                 "rating" : 4.5,
                 "reference" : "CmRRAAAAKog3eXcgezIKW0EWlf1P55UbaE6Yl7wrZSYuz8RYNWSxCtYrGMcXyNSaWfdRzZ79Gx1Xo6zfgfgj6Orzr4vaxEk3kW38o0gLkjpoNFiBPCh1MxA4CgcyTlquvzBChVSREhDhIZRuoP_BcpxzZSh144OUGhQGFj1l9TZGYgwfSm7NJDGFeHkWOQ",
                 "scope" : "GOOGLE",
                 "types" : [ "pet_store", "store", "point_of_interest", "establishment" ],
                 "vicinity" : "7429 East Iliff Avenue, Denver"
              },
              {
                 "geometry" : {
                    "location" : {
                       "lat" : 39.6535427,
                       "lng" : -104.8708011
                    },
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.6546678802915,
                          "lng" : -104.8694517697085
                       },
                       "southwest" : {
            [...]
